<!DOCTYPE html>
<html>
<head>
<title> Manatee Matinees </title>
</head>
<body>
<div class="main">
    <h1> Manatee Matinees </h1>
    <h2> Choose a method! </h2>
    <ul>
        <li>
            <h3><a href="{{ url_for('rec1') }}">User User Collaborative Filtering</a></h3>
        </li>
        <li>
            <h3><a href="{{ url_for('rec2') }}">Item Item Collaborative Filtering</a></h3>
        </li>
        <li>
            <h3><a href="{{ url_for('rec3') }}">Matrix Factorization</a></h3>
        </li>
    </ul>
</div>
</body>
</html>